<a href="https://colab.research.google.com/github/res287/IST-210/blob/master/IST_210_Group_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Used to make requests
import urllib

In [0]:
import sqlite3 # Once imported in a single notebook, it is available to us throughout the rest of the notebook. 
# connect to database, if not there, create it. 
connectionToDatabase = sqlite3.connect('carDealershipDatabase') 
cursor = connectionToDatabase.cursor()

In [0]:
#Creating Car Dealership Table
cursor.execute('''drop table IF EXISTS carDealership''')
connectionToDatabase.commit()

cursor.execute('''create table carDealership (dealership text PRIMARY KEY, newCars text, usedCars text, dealershipLot real, salesReportDeal real, monthlyIR real)''')
connectionToDatabase.commit()

#Creating Car Manufacturer Lot Table
cursor.execute('''drop table IF EXISTS carManufacturer''')
connectionToDatabase.commit()

cursor.execute('''create table carManufacturer (brand text PRIMARY KEY, carDealerships text, carModels text, inventoryAllocation text)''')
connectionToDatabase.commit()

#Creating sales Report Table
cursor.execute('''drop table IF EXISTS salesReport''')
connectionToDatabase.commit()

cursor.execute('''create table salesReport (uniqueID real PRIMARY KEY, dealershipSR text, customerSR text, trans text)''')
connectionToDatabase.commit()

#Creating Customer Table
cursor.execute('''drop table IF EXISTS customer''')
connectionToDatabase.commit()

cursor.execute('''create table customer(customerID real PRIMARY KEY, salesReportCust real, name text, phoneNumber real, email text)''')
connectionToDatabase.commit()

#Creating Monthly Inventory Report Table
cursor.execute('''drop table IF EXISTS monthlyInventoryReport''')
connectionToDatabase.commit()

cursor.execute('''create table monthlyInventoryReport (orderNumber real PRIMARY KEY, numberOfNewCars real, quantityOfCars real, changeInInventory real)''')
connectionToDatabase.commit()

#Creating Dealership Lot Table
cursor.execute('''drop table IF EXISTS lots''')
connectionToDatabase.commit()

cursor.execute('''create table lots (lotNumber text PRIMARY KEY, numberOfCars real, models text, priceOfCars real)''')
connectionToDatabase.commit()

In [0]:
#Inserting Data into carDealership
                        #dealershipLocation text PRIMARY KEY, newCars text, usedCars text, dealershipLot real, salesReport real, monthlyIR real
cursor.execute('''insert into carDealership values ("Chicago", "340i", null, 1, 734, 5862)''')
connectionToDatabase.commit()

cursor.execute('''insert into carDealership values ("Philadelphia", "S63 AMG", null, 1, 349, 9035)''')
connectionToDatabase.commit()

cursor.execute('''insert into carDealership values ("Seattle", "911", null, 4, 001, 8637)''')
connectionToDatabase.commit()

cursor.execute('''insert into carDealership values ("State College", null, "A6", 3, 278, 1179)''')
connectionToDatabase.commit()

cursor.execute('''insert into carDealership values ("The Future", null, "Delorean", 2, 954,  874)''')
connectionToDatabase.commit()

cursor.execute('''insert into carDealership values ("Mars", "Rover", null, 5, 666, 8943)''')
connectionToDatabase.commit()

In [0]:
#Inserting Data into carManufacturer
                                      #brand text PRIMARY KEY, carDealerships text, carModels text, inventoryAllocation real
cursor.execute('''insert into carManufacturer values ("BMW", "Chicago", "340i", 9)''')
connectionToDatabase.commit()

cursor.execute('''insert into carManufacturer values ("Mercedes", "Philadelphia", "E350", 16)''')
connectionToDatabase.commit()

cursor.execute('''insert into carManufacturer values ("Porsche", "Seattle", "911", 4)''')
connectionToDatabase.commit()

cursor.execute('''insert into carManufacturer values ("Audi", "State College", "A6", 13)''')
connectionToDatabase.commit()

cursor.execute('''insert into carManufacturer values ("Delorean", "The Future", "Delorean", 0)''')
connectionToDatabase.commit()

cursor.execute('''insert into carManufacturer values ("Land Rover", "Mars", "Rover", 32)''')
connectionToDatabase.commit()

In [0]:
#Inserting Data into salesReport
                                       #uniqueID real PRIMARY KEY, dealershipSR text, cusomterSR text, trans text
cursor.execute('''insert into salesReport values (98755073, "734", "78394030", "sale")''')
connectionToDatabase.commit()

cursor.execute('''insert into salesReport values (83263691, "349", "74327498", "trade-in sale")''')
connectionToDatabase.commit()

cursor.execute('''insert into salesReport values (28439298, "001", "32093974", "sale")''')
connectionToDatabase.commit()

cursor.execute('''insert into salesReport values (76483623, "278", "14809284", "purchase")''')
connectionToDatabase.commit()

cursor.execute('''insert into salesReport values (48379076, "954", "54903240", "sale")''')
connectionToDatabase.commit()

cursor.execute('''insert into salesReport values (66923372, "666", "82738092", "sale")''')
connectionToDatabase.commit()

In [0]:
#Inserting Data into customer
                                       #CustomerId real PRIMARY KEY, salesReport text, name text, phoneNumber text, email text
cursor.execute('''insert into customer values (74793732, "78394030", "John Smith", "224-336-5592", "jsmith@gmail.com")''')
connectionToDatabase.commit()

cursor.execute('''insert into customer values (23249094, "74327498", "Patrick Dudas", "617-571-5803", "pdudas@gmail.com")''')
connectionToDatabase.commit()

cursor.execute('''insert into customer values (74873923, "32093974", "Sequon Barkley", "847-610-0100", "thicklegsforlife@gmail.com")''')
connectionToDatabase.commit()

cursor.execute('''insert into customer values (29893844, "14809284", "Chris Rock", "508-269-4581", "comedyman@gmail.com")''')
connectionToDatabase.commit()

cursor.execute('''insert into customer values (64782648, "54903240", "Colin Kaepernick", "847-857-1139", "kneeling@gmail.com")''')
connectionToDatabase.commit()

cursor.execute('''insert into customer values (83974982, "82738092", "Neil Armstrong", "847-877-3201", "smallsteps@gmail.com")''')
connectionToDatabase.commit()

In [0]:
#Inserting Data into lots
                                       #lotNumber text PRIMARY KEY, numCars real, models text , price text
cursor.execute('''insert into lots values ("chicago1", 137, "340i", 48950)''')
connectionToDatabase.commit()

cursor.execute('''insert into lots values ("philadelphia1", 98, "s63 AMG", 149550)''')
connectionToDatabase.commit()

cursor.execute('''insert into lots values ("seattle4", 108, "911", 113300)''')
connectionToDatabase.commit()

cursor.execute('''insert into lots values ("stateCollege3", 278, "A6", 26850)''')
connectionToDatabase.commit()

cursor.execute('''insert into lots values ("theFuture2", 64, "Delorean", 42988)''')
connectionToDatabase.commit()

cursor.execute('''insert into lots values ("mars5", 31, "54903240", 90900)''')
connectionToDatabase.commit()

In [0]:
#Inserting Data into monthlyInventoryReport
                                       #orderNumber real PRIMARY KEY, numNewCars real, quantityCars real, changeInInventory real
cursor.execute('''insert into monthlyInventoryReport values (5862, 43, 489, -12)''')
connectionToDatabase.commit()

cursor.execute('''insert into monthlyInventoryReport values (9035, 32, 253, 8)''')
connectionToDatabase.commit()

cursor.execute('''insert into monthlyInventoryReport values (8637, 15, 379, -27)''')
connectionToDatabase.commit()

cursor.execute('''insert into monthlyInventoryReport values (1179, 25, 400, 46)''')
connectionToDatabase.commit()

cursor.execute('''insert into monthlyInventoryReport values (874, 17, 212, 3)''')
connectionToDatabase.commit()

cursor.execute('''insert into monthlyInventoryReport values (8943, 23, 115, 7)''')
connectionToDatabase.commit()

What's the change in inventory for the Seattle dealership?

In [0]:
cursor.execute('''select dealership, changeInInventory from MonthlyInventoryReport, carDealership where dealership LIKE "%Seattle%" AND orderNumber = monthlyIR''')
for row in cursor.fetchall():
  print (row)

('Seattle', -27.0)

This question is important because in order for a dealership to be successful they must track their change in inventory so they make sure they are selling more cars than buying. It also gives insight into what monthly allocation decisions should be made during the next month based on their previous month's performance.

What's the contact info for the person who bought a Delorean?

In [0]:
cursor.execute('''select name, phoneNumber, email from customer, salesReport, carDealership where salesReportDeal = dealershipSR AND customerSR = salesReportCust AND usedCars = "Delorean"''')
for row in cursor.fetchall():
  print (row)

('Colin Kaepernick', '847-857-1139', 'kneeling@gmail.com')

This question is important because transaction info for purchases of motorized vehicles is extremely important in the eyes of the state since they need to know who's car belongs to who. So for a dealership to be able to pull up a customer's info just because they know what model car they bought is quite powerful.

Which dealership offers the Rover and on what lot is it located?

In [0]:
cursor.execute('''select dealership, dealershipLot from carDealership, carManufacturer, lots where newCars = "Rover" AND carModels = models limit 1''')
for row in cursor.fetchall():
  print (row)

('Mars', 5.0)

This question is important because if someone wants to find out where to find a specific car, including not only the dealership location but also the lot it is possible to do so. It cuts down the guess and check with where you can find the car of your dreams.